@use './fonts.scss';


body {
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #23272F;
	
}

* {
	box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Merriweather', serif;
	color: #fff;
}


.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 900px;
}