.header {
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 20px 50px;

	ul {
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		padding-left: 30px;
	}
	a {
		color: inherit;
		text-decoration: none;

		&.active {
			text-decoration: underline;
		}
	}
}